@media (max-width: 1200px) {
	
}
@media (max-width: 1024px) {
	
}
@media (max-width: 992px) {
	

}

@media (max-width: 992px) {
	.box-search{
		display: none;
	}
	
}
@media (max-width: 992px){
	
}
@media (max-width: 768px){
	.menu-btn-show {
		top: 30px;
	}
	.main-menu {
		display: none;
	}
}

/*menu*/
@media screen and (max-width: 575px) {
	#toggle_video .modal-content iframe {
		height: 40%;
	}
	#toggle_video .modal-body {
		display: flex;
		align-items: center;
	}
	header {
		display: block;
	}
	.logo {
		margin-top: 15px;
	}
	.partners .owl-nav button {
		top: -40%;
	}
}

