body {
	font-size: 14px;
	font-family: "Montserrat", "sans-serif", "Arial";
	position: relative;
	overflow-x: hidden;
	color: #333;
	background-color: #fff;
}
.container {
	/*display: flex;*/
}
.collapse:not(.show) {
	display: block;
	text-align: right;
}

.collapse>ul {
	display: block;
}

.collapse>ul>li {
	display: inline-block;
	margin-right: 10px;
}

.admin_panel .navbar {
	padding: 0;
	background: #e7e7e7;
}

.admin_panel .navbar-nav .dropdown-menu {
	position: absolute;
	min-width: 100px;
	width: 100px;
	padding: 5px;
	margin: 5px;
	font-size: 16px;
	text-align: center;
	left: inherit;
	right: 0;
}

.img-zoom {
	max-width: 100%;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
}

.img-zoom:hover {
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

a:hover {
	text-decoration: none;
	color: #fbbd53;
}

a:focus {
	text-decoration: none;
	outline: none;
}

a,
button,
input {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
	border: 1px solid #e1e1e1;
	padding: 8px 15px;
	font-size: 14px;
	color: #888888;
	border-radius: 0;
	font-family: 'Montserrat', sans-serif;
}

button,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
	border-color: #666666;
	outline: none;
}


/*menu-mobile*/


/*!
  menu mobile
*/

.menu-bar-mobile {
	position: fixed;
	height: 100%;
	width: 300px;
	background: #fff;
	z-index: 9999999;
	-webkit-box-shadow: 1px 0px 1px #ccc;
	        box-shadow: 1px 0px 1px #ccc;
	overflow-y: scroll;
	display: none;
}

.logo-menu {
	float: left;
	width: 100%;
	text-align: center;
}

.logo-menu img {
	width: 180px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.menu-bar-lv-1 {
	float: left;
	width: 100%;
	position: relative;
}

.menu-bar-lv-1 a {
	float: left;
	width: 100%;
	height: 40px;
	line-height: 30px;
	background: #fff;
	margin-bottom: 1px;
	padding: 5px 15px;
	font-size: 14px;
	border-top: 1px solid #ebebeb;
	color: #3e3e3e;
}

.menu-bar-lv-1 a:hover {
	-webkit-box-shadow: 0px 0px 2px #443333;
	        box-shadow: 0px 0px 2px #443333;
}

.menu-bar-lv-1 span {
	position: absolute;
	right: 10px;
	top: 4px;
	width: 30px;
	height: 30px;
	font-size: 17px;
	text-align: center;
	padding-top: 9px;
	cursor: pointer;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
}

.menu-bar-lv-2,
.menu-bar-lv-3 {
	position: relative;
	float: left;
	width: 100%;
	display: none;
}

.menu-bar-lv-2 a {
	position: relative;
	float: left;
	width: 100%;
	padding: 5px 15px;
}

.menu-bar-lv-2 i:last-child {
	margin-right: 7px;
}

.menu-bar-lv-3 a {
	position: relative;
	float: left;
	width: 100%;
	padding: 5px 33px;
}

.rotate-menu {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
	top: 10px !important;
}

.menu-btn-show {
	position: absolute;
	width: 28px;
	height: 27px;
	float: left;
	margin-right: 15px;
	cursor: pointer;
	right: 15px;
	top: 130px;
	z-index: 999;
}

.menu-btn-show .border-style {
	width: 100%;
	height: 4px;
	background: #fbbd53;
	float: left;
	margin-bottom: 5px;
	border-radius: 10px;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
}

.fixed-box .menu-btn-show .border-style {
	/*background: #fff;*/
	background: #38a7e0;
}

.box-login-logout {
	float: left;
	width: 100%;
	position: relative;
	background: #f9f9f9;
}

.boder-rotate {
	position: absolute;
	left: 50%;
	height: 40px;
	width: 1px;
	background: #ebebeb;
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	        transform: rotate(30deg);
}

.box-login-logout i {
	margin-right: 6px;
}

.box-login-logout .left {
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 15px;
	border-top: 1px solid #ebebeb;
}

.shadow-open-menu {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.51);
	z-index: 999;
	display: none;
}

.menu-btn-show.active .border-style {
	background: #fff;
	display: none;
}

.menu-btn-show.active .border-style:first-child {
	-webkit-transform: rotate(42deg);
	    -ms-transform: rotate(42deg);
	        transform: rotate(42deg);
	margin-top: 5px;
	display: block;
}

.menu-btn-show.active .border-style:last-child {
	-webkit-transform: rotate(-42deg);
	    -ms-transform: rotate(-42deg);
	        transform: rotate(-42deg);
	margin-top: -9px;
	display: block;
}

@media screen and (min-width: 992px) {
	.menu-btn-show {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.menu-btn-show {
		display: block;
	}
	.main-menu,
	.hide-mobile {
		display: none;
	}
	.menu-btn-show {
		top: 50px;
		right: 1%;
	}
}

@media screen and (max-width: 360px) {
	.menu-bar-mobile {
		width: 250px;
	}
}

.search-mobile {
	width: 100%;
	float: left;
}

.box-search-mobile {
	height: 30px;
	position: relative;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
}

.box-search-mobile form {
	height: 100%;
}

.box-search-mobile form .inputSearch {
	border: 1px solid #002664;
	border-radius: 15px;
	padding: 0px 0px 0px 15px;
	font-size: 12px;
	font-style: italic;
	height: 100%;
	color: #8c8c8c;
	width: 100%;
}

.box-search-mobile form .inputSearch::-webkit-input-placeholder,
.box-search-mobile form .inputSearch::-moz-placeholder,
.box-search-mobile form .inputSearch::-moz-placeholder,
.box-search-mobile form .inputSearch:-ms-input-placeholder {
	color: #8c8c8c;
}

.box-search-mobile form .submitForm {
	width: 40px;
	height: 31px;
	background: transparent;
	color: #002664;
	height: 31px;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	font-size: 15px;
	position: absolute;
	right: 0px;
	top: 0;
	cursor: pointer;
}

/*Main menu ngang*/

.main-menu>ul {
	margin: 0 auto;
	width: 100%;
	list-style: none;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: left;
}

.main-menu>ul:before {
	content: "";
	display: table;
}

.main-menu>ul:after {
	content: "";
	display: table;
	clear: both;
}

.main-menu>ul>li {
	height: 43px;
	line-height: 30px;
	float: left;
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
}
.main-menu>ul>li:last-child a {
	padding-right: 0;
}

.main-menu>ul>li a {
    text-decoration: none;
    padding: 6px 25px 7px 25px;
    display: block;
    font-size: 16px;
    position: relative;
    text-transform: none;
    color: #666;
    transition: .6s all ease;
    -webkit-transition: .6s all ease;
    -moz-transition: .6s all ease;
    -ms-transition: .6s all ease;
    -o-transition: .6s all ease;
    text-transform: uppercase;
    font-weight: 500;
}
.main-menu>ul>li a:hover {
 	color: #fbbd53;
}

.main-menu>ul>li:first-child a {
	margin-left: 0px;
}

.main-menu>ul>li:last-child a {
	margin-right: 0px;
}

.main-menu>ul>li:hover>ul {
	display: block;
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
}

.main-menu>ul>li>ul {
	display: none;
	width: 200px;
	background-color: #fff;
	padding: 0px;
	position: absolute;
	z-index: 99;
	left: 0px;
	margin: 0px;
	list-style: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: left;
	-webkit-box-shadow: 0px 2px 3px rgba(154, 142, 142, 0.48);
	        box-shadow: 0px 2px 3px rgba(154, 142, 142, 0.48);
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	-ms-transition: .6s all ease;
	-o-transition: .6s all ease;
}

.main-menu>ul>li>ul:before {
	content: "";
	display: table;
}

.main-menu>ul>li>ul:after {
	content: "";
	display: table;
	clear: both;
}

.main-menu>ul>li>ul>li {
	margin: 0;
	padding-bottom: 0;
	list-style: none;
	width: 100%;
	float: left;
	display: block;
	position: relative;
}

.main-menu>ul>li>ul>li a {
	padding: 6px 15px 6px 15px;
	width: 100%;
	display: block;
	border-bottom: 1px solid rgba(204, 204, 204, 0.63);
	font-size: 13px;
	font-weight: 400;
	text-transform: none;
	margin: 0px;
	clear: both;
	color: #333;
	white-space: nowrap;
}

.main-menu>ul>li>ul>li>ul {
	padding: 0;
	margin: 0px;
	list-style: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	left: 130%;
	min-width: 210px;
	background-color: #fff;
	top: 0px;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	        box-shadow: 0px 0px 5px #ccc;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	visibility: hidden;
	opacity: 0;
}

.main-menu>ul>li>ul>li:hover>a {
	background: #dee2e6;
}

.main-menu>ul>li>ul>li:hover>ul {
	left: 100%;
	visibility: visible;
	opacity: 1;
}

.main-menu>ul>li>ul>li>ul:before {
	content: "";
	display: table;
}

.main-menu>ul>li>ul>li>ul:after {
	content: "";
	display: table;
	clear: both;
}

.main-menu>ul>li>ul>li>ul>li {
	float: left;
	width: 100%;
	padding: 0px 0;
	margin: 0;
	border-bottom: 1px solid #ebebeb;
}

.main-menu>ul>li>ul>li .fa-caret-right {
	position: absolute;
	right: 11px;
	top: 12px;
	color: #fff;
}

.main-menu>ul>li>ul>li>ul>li a {
	border: 0;
}

.main-menu>ul>li>ul>li>ul>li a:hover {
	background: #dee2e6;
}

.main-menu>ul>li>ul.normal-sub {
	width: 200px;
	left: auto;
	padding: 5px 20px 9px 20px;
	background: rgba(8, 132, 57, 0.78);
	border-top: 5px solid #178544;
}

.main-menu>ul>li>ul.normal-sub>li {
	width: 100%;
}

.main-menu>ul>li>ul.normal-sub>li a {
	border: 0;
	padding: 1em 0;
	border: 0;
	padding: 9px 0px;
	border-bottom: 1px solid rgba(226, 222, 222, 0.31);
	color: #dad1d1;
}

.main-menu>ul>li>ul.normal-sub>li a:hover {
	color: #fff;
}

.main-menu>ul>li>ul.normal-sub>li:last-child a {
	border-bottom: none;
}

.main-menu>ul>li:last-child>ul {
	right: 0px;
	left: initial;
}

.normal-sub li a:before {
	content: "•";
	line-height: 0;
	margin-right: 10px;
	font-size: 19px;
	position: static;
	color: #27AE61;
	margin-top: 9px;
	float: left;
}

.main-menu>ul>li:hover>a:before,
.main-menu>ul>li:hover>a:after {
	width: 50%;
	border-radius: 0;
	-webkit-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	   transition-duration: 0.7s;
	display: none;
}

.main-menu>ul>li>a:after {
	content: "";
	height: 1px;
	position: absolute;
	right: 20px;
	width: 0;
	top: 75%;
	margin-top: 0px;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	   transition-duration: 0.5s;
	background: #ccc;
	display: none;
}

.main-menu>ul>li>a:before {
	content: "";
	height: 1px;
	position: absolute;
	left: 20px;
	width: 0;
	top: 75%;
	margin-top: 0px;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	   transition-duration: 0.5s;
	display: none;
	background: #ccc;
}

.main-menu>ul>li.active>a:before,
.main-menu>ul>li.active>a:after {
	width: 50%;
}

.content-head-center {
	position: relative;
	text-transform: uppercase;
}


/*end-menu-main*/
.content-standard-ck table > thead > tr > th, .content-standard-ck table > tbody > tr > th, .content-standard-ck table > tfoot > tr > th, .content-standard-ck table > thead > tr > td, .content-standard-ck table > tbody > tr > td, .content-standard-ck table > tfoot > tr > td {
    border: 1px solid #eee;
}

.content-standard-ck table > thead > tr > th, .content-standard-ck table > tbody > tr > th, .content-standard-ck table > tfoot > tr > th, .content-standard-ck table > thead > tr > td, .content-standard-ck table > tbody > tr > td, .content-standard-ck table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #eee;
    text-align: left;
    font: 13px/18px "arial";
}

.content-standard-ck table tr:hover {
    background-color: #F8FAFB;
}

/*header*/
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    float: left;
    width: 100%;
    -webkit-box-shadow: 0 0 9px 0px #989696;
            box-shadow: 0 0 9px 0px #989696;
    position: relative;
}
.logo {
	float: left;
}
.logo img {
	max-width: 245px;
	max-height: 52px;
}
.menu-index {
	float: right;
}


.category_top {
    float: left;
    width: 100%;
    height: 110px;
    background: url('../assets/hed.png');
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f6f6f6;
    background-size: 100% 100%;
    z-index: -1;
}
.category_top h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 2px 2px #a9a9a9;
}

main {
	float: left;
	width: 100%;
	background: #f6f6f6;
}
.breadcrumb {
	float: left;
	width: 100%;
	padding: 15px 0;
	margin-bottom: 0;
	background-color: #f6f6f6;
}
.breadcrumb a {
	font-size: 16px;
    color: #707070;
    font-weight: 500;
}

footer {
	float: left;
    width: 100%;
    background: #333;
    color: #888;
    padding: 35px 0;
}
.logo_footer {
	float: left;
	width: 100%;
}

.logo_footer img {
	float: left;
	max-width: 245px;
	max-height: 55px;
	margin-bottom: 15px;
}
.contact_footer p a {
	color: #888;
}
.contact_footer p a:hover {
	color: #fbbd53;
}
.contact_footer p i {
	width: 20px;
}

.list_news .row {
	float: left;
}

.list_news .item {
    float: left;
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 7px 1px #ccc;
            box-shadow: 0 0 7px 1px #ccc;
}
.list_news .item .img {
	float: left;
	width: 100%;
	padding: 33%;
	position: relative;
	overflow: hidden;
}
.list_news .item .content {
	float: left;
	width: 100%;
	padding: 0 15px;
}
.list_news .item .img a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.list_news .item .img a img {
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	height: 100%;
	min-width: 100%;
}
.list_news .item .datetime {
	float: left;
	width: 100%;
	color: #fbbd53;
	font-size: 16px;
	font-weight: 700;
	padding: 15px;
	text-align: center;
}
.list_news .item a,
.list_news .item p {
	text-align: center;
	float: left;
	width: 100%;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.list_news .item a {
	color: #333;
	font-size: 16px;
	font-weight: 500;
}
.list_news .item a:hover {
	color: #fbbd53;
}
.list_news .item p {
	font-size: 13px;
	margin-bottom: 25px;
}

.view_more {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.view_more button {
    width: 265px;
    height: 65px;
    border: none;
    background: #ffd257;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
.view_more button:hover {
    background: #fbbd53;
}


.list_news.list_videos .item .img:after {
    content: "";
    background: url(../imgs/video_icon.png);
    width: 55px;
    height: 65px;
    position: absolute;
    background-size: 100% 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    cursor: pointer;
}
.list_news.list_videos .content {
	float: left;
	width: 100%;
	padding: 20px 15px;
}
#toggle_video .modal-dialog {
    width: 80%;
    height: calc(100vh - 60px);
    margin: 0 auto;
    margin-top: 30px;
    max-width: inherit;
}
#toggle_video .modal-body {
    padding: 0;
    height: 100%;
}
#toggle_video .modal-content {
    background-color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    height: 100%;
}
#toggle_video .modal-content iframe {
    height: 100%;
}
#toggle_video, .modal-open {
	padding-right: 0 !important;
}

.close_video a {
	position: absolute;
	right: 1%;
	top: 1%;
}

.list_news.list_recruitment {
	float: left;
	width: 100%;
}
.list_news.list_recruitment .recruitments {
	float: left;
	width: 100%;
}
.list_news.list_recruitment .view_more {
	margin-top: 30px;
}


.list_news.list_recruitment .item {
	float: left;
	width: 100%;
	padding: 15px;
}
.list_news.list_recruitment .req_right {
	float: left;
	width: 100%;
	background: #fff;
}
.list_news.list_recruitment .req_right .item img {
	float: left;
	width: 100%;
	position: relative;
}
.list_news.list_recruitment .req_right .item p {
	font-size: 16px;
	font-weight: 700;
	overflow: inherit;
	display: block;
}
.list_news.list_recruitment .req_right .item {
	-webkit-box-shadow: none;
	        box-shadow: none;
	padding: 0;
}
.list_news.list_recruitment .req_right .item .content {
	padding: 0 15px;
}
.list_news.list_recruitment .item:last-child {
	margin-bottom: 0;
}
.list_news.list_recruitment .item .title a {
	color: #fbbd53;
	text-transform: uppercase;
	font-size: 16px;
	float: left;
	width: auto;
	margin-bottom: 5px;
}
.list_news.list_recruitment .item .title a:hover {
	color:#fd8f00;
}
.list_news.list_recruitment .item .desc {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.list_news.list_recruitment .item {
    -webkit-box-shadow: 0 0 7px 1px #ccccccb8;
            box-shadow: 0 0 7px 1px #ccccccb8;
}
.list_news.list_recruitment .item .desc p {
	margin-bottom: 0;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    display: block;
    overflow: inherit;
}
.list_news.list_recruitment .item .apply {
	float: left;
	width: 100%;
}
.list_news.list_recruitment .item .apply a {
    float: right;
    width: auto;
    padding: 10px 15px;
    background: #ffd257;
    text-transform: uppercase;
    font-size: 14px;
}
.list_news.list_recruitment .item .apply a:hover {
    background: #fd8f00;
}
.list_news.list_recruitment .view_more button {
    width: 250px;
    height: 50px;
}

#news_detail, #news_detail .breadcrumb {
	background: #fff;
}

.news_detail p {
	color: #707070;
}
.news_detail h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
}
.news_detail img {
    margin: 0 auto;
    /*max-width: 100%;*/
    width: 100%;
}
.news_detail .source {
    float: left;
    width: 100%;
    text-align: right;
    margin: 15px 0;
}
.news_detail .tags_news strong {
	font-weight: 700;
	font-size: 13px;
}
.news_detail .tags_news {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
.news_detail .tags_news a {
    color: #707070;
    padding: 3px 10px;
    border: 1px solid #fbbd53;
    border-radius: 50px;
}
.news_detail .tags_news a:hover {
	color: #fbbd53;
}

.news_right .item .img {
	padding: 30%;
}

.title_news h2 {
    float: left;
    width: 100%;
    color: #fbbd53;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    margin: 25px 0 10px 0;
}
.list_news .hot_news .item {
	margin-bottom: 15px;
}
.list_news .hot_news .item .img {
    width: 35%;
    padding: 12%;
}
.list_news .hot_news .item .title {
    float: left;
    width: 65%;
    padding-left: 10px;
}
.list_news .hot_news .item .title a {
    -webkit-line-clamp: 4;
    font-weight: 500;
    color: #333;
    text-transform: inherit;
    text-align: justify;
    font-size: 14px;
}
.list_news .hot_news .item .title a:hover {
	color:#fd8f00;
}
.news_relations {
	float: left;
	width: 100%;
	    background: #f6f6f6;
	    padding-bottom: 20px;
}
.news_relations .title_news h2 {
	font-weight: 600;
	color: #333;
	margin-bottom: 25px;
}
.contact_recruitment .form-group {
    float: left;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.contact_recruitment .form-group.label_top {
    display: block;
}
.contact_recruitment .form-group label {
	float: left;
	width: 25%;
	    font-size: 16px;
}
.contact_recruitment .form-group .input_item {
	float: left;
	width: 75%;
}
.contact_recruitment .form-group .input_item input,
.contact_recruitment .form-group .input_item textarea {
	float: left;
	width: 100%;
	border-radius: 5px;
	max-width: 100%;
	min-width: 100%;
}
.contact_recruitment .form-group .input_item textarea {
	height: 125px;
}
.contact_recruitment .form-group .input_item p {
    color: #333;
    font-weight: 500;
    margin: 15px 0;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.contact_recruitment .title_news h2 {
    margin-bottom: 25px;
}
.contact_recruitment .view_more {
	text-align: left;
}
.contact_recruitment .view_more button {
	width: 170px;
	height: 40px;
	font-size: 17px;
}


.contact {
	float: left;
	width: 100%;
	padding-bottom: 50px;
}
.contact .item p {
	font-size: 14px;
	    line-height: 28px !important;
}
.contact .item .title a {
	text-transform: inherit;
}

.contact .form_contact {
    float: left;
    width: 100%;
    -webkit-box-shadow: 0 0 7px 1px #ccccccb8;
            box-shadow: 0 0 7px 1px #ccccccb8;
    padding: 15px;
    background: #fff;
}
.contact .form_contact .form-group {
	margin-bottom: 9px;
}
.contact .form_contact .form-group,
.contact .form_contact .form-group label,
.contact .form_contact .form-group input,
.contact .form_contact .form-group p,
.contact .form_contact .form-group textarea {
    float: left;
    width: 100%;
}
.contact .form_contact .form-group label {
	font-weight: 500;
	margin-bottom: 10px;
}
.contact .form_contact .form-group input,
.contact .form_contact .form-group textarea {
	border-radius: 5px;
	margin-bottom: 5px;
	min-width: 100%;
	max-width: 100%;
}
.contact .form_contact .form-group textarea {
	height: 110px;
}
.contact .form_contact .form-group p {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}
.contact .form_contact .view_more {
	margin-top: 10px;
	margin-bottom: 10px;
}
.contact .form_contact .view_more button {
    width: 170px;
    height: 40px;
    text-transform: inherit;
}
.contact .other {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding: 0 15px;

}

.partners {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}

.partners .owl-nav {
	display: block !important;
}
.partners .owl-nav button {
	position: absolute;
    top: -15%;
    font-size: 63px !important;
    font-weight: 300 !important;
    color: #333 !important;
}
.partners .owl-nav button.owl-next {
	right: -10px;
}
.partners .item .img {
	float: left;
	width: 100%;
	padding: 15%;
	position: relative;
	overflow: hidden;
}
.partners .item .img a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.partners .item .img a img {
    height: 100%;
    min-width: auto;
    width: auto;
    margin: 0 auto;
}
.list_partner .title_news h2 {
text-align: center;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
	.contact .row {
		margin-right: -10px;
		margin-left: -10px;
	}
	.contact .col-lg-6 {
		padding: 0 10px;
	}
	.contact .item {
    margin-bottom: 20px;
}
}
/ clear first in row in ie 8 or lower /
.multi-columns-row .col-xs-1:nth-child(12n+13),.multi-columns-row .col-xs-2:nth-child(6n+7),.multi-columns-row .col-xs-3:nth-child(4n+5),.multi-columns-row .col-xs-4:nth-child(3n+4),.multi-columns-row .col-xs-6:nth-child(2n+3),.multi-columns-row .first-in-row{clear:left}@media (min-width:768px){.multi-columns-row .col-xs-1:nth-child(12n+13),.multi-columns-row .col-xs-2:nth-child(6n+7),.multi-columns-row .col-xs-3:nth-child(4n+5),.multi-columns-row .col-xs-4:nth-child(3n+4),.multi-columns-row .col-xs-6:nth-child(2n+3){clear:none}.multi-columns-row .col-sm-1:nth-child(12n+13),.multi-columns-row .col-sm-2:nth-child(6n+7),.multi-columns-row .col-sm-3:nth-child(4n+5),.multi-columns-row .col-sm-4:nth-child(3n+4),.multi-columns-row .col-sm-6:nth-child(2n+3){clear:left}}@media (min-width:992px){.multi-columns-row .col-sm-1:nth-child(12n+13),.multi-columns-row .col-sm-2:nth-child(6n+7),.multi-columns-row .col-sm-3:nth-child(4n+5),.multi-columns-row .col-sm-4:nth-child(3n+4),.multi-columns-row .col-sm-6:nth-child(2n+3){clear:none}.multi-columns-row .col-md-1:nth-child(12n+13),.multi-columns-row .col-md-2:nth-child(6n+7),.multi-columns-row .col-md-3:nth-child(4n+5),.multi-columns-row .col-md-4:nth-child(3n+4),.multi-columns-row .col-md-6:nth-child(2n+3){clear:left}}@media (min-width:1200px){.multi-columns-row .col-md-1:nth-child(12n+13),.multi-columns-row .col-md-2:nth-child(6n+7),.multi-columns-row .col-md-3:nth-child(4n+5),.multi-columns-row .col-md-4:nth-child(3n+4),.multi-columns-row .col-md-6:nth-child(2n+3){clear:none}.multi-columns-row .col-lg-1:nth-child(12n+13),.multi-columns-row .col-lg-2:nth-child(6n+7),.multi-columns-row .col-lg-3:nth-child(4n+5),.multi-columns-row .col-lg-4:nth-child(3n+4),.multi-columns-row .col-lg-6:nth-child(2n+3){clear:left}}