html,
body {
    height: 100%;
    width: 100%;
    color: $cl-black;
    background-color: $cl-bg;
    font-family: 'Montserrat', sans-serif;
}
body {
    position: relative;
}
a:hover {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
*:focus {
    outline: none !important;
}
button {
    background-color: unset;
    border: none;
}

.no-mg {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-pd {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pd {
    padding-left: size(1);
    padding-right: size(1);
}

.no-border {
    border: none !important;
}
.pw-2 {
    padding-left: 4vw;
    padding-right: 4vw;
}
.pw-1 {
    padding-left: 2vw;
    padding-right: 2vw;
}
.clear-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.box {
    position: relative;
}
.no-sl {
    user-select: none;
}

.bg-red {
    background-color: $cl-red !important;
}
.bg-orage {
    background-color: $cl-orange !important;
}
.cl-white {
    color: $cl-white !important;
}
.cl-red {
    color: $cl-red !important;
}
rect {
    transition: 0.2s ease;
}