// Max width site
$max-width: 1366px;

// hệ số đo 
$constUnit: 8px;

// Responsive size
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 996px;

// bg color
$cl-bg: #fcfcfc;
// Color
$cl-black: #333;
$cl-gray: #888;
$cl-white: #ffffff;
$cl-orange: #FFD257;
$cl-orange2: #FBBD53;
$cl-orange3: #ff5700;
$cl-orange4: #d18f35;
$cl-red: #e41e26;
$cl-red2: #bc0810;
$cl-blue: #0c68af;